.sdongkir-card {
    background-color: #ffffff;
    border: 3px solid #a0a0a0;
    border-radius: 8px;

    &__header {
        padding: 14px;
        border-bottom: 2px solid #a0a0a0;
        position: relative;
    }

    &__header-image {
        position: absolute;
        right: 12px;
        top: 12px;
        height: 25px;
    }

    &__body {
        padding: 14px;
    }
}