.sdokr-btn {
    border-radius: 0;
    padding: 10px 15px;
    color: #4c4c4c;
    font-size: 15px;
    border: none;
    border-radius: $border-radius-form;
    font-weight: normal;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.28);
    transition: all .25s ease;

    &:focus {
        outline: none;
    }

    &:active {
        box-shadow: none;
    }

    &--block {
        width: 100%;
    }

    &--lg {
        padding: 15px 20px;
    }

    &--primary {
        background-color: $color-primary;
        color: #ffffff;

        &:hover,
        &:focus {
            background-color: darken($color-primary, 10);
        }

        &:disabled {
            background-color: lighten($color-primary, 15);
        }
    }

    &-outline {
        background-color: #efefef;

        &:hover,
        &:focus {
            background-color: #efefef;
        }

        &--primary {
            border: 1px solid $color-primary;
        }

        &--secondary {
            border: 1px solid #c9c9c9;
        }
    }
}