.sdokr-form-field {
    margin-bottom: 20px;
    width: 100%;

    label {
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: 600;
    }

    .sdokr-form-control {
        background-color: #fff;
        border: 1px solid #b8b8b8;
        border-radius: 0;
        height: 45px;
        line-height: 45px;
        width: 100%;
    }

    .sdokr-input-group {
        position: relative;

        .sdokr-input-append {
            position: absolute;
            top: 0;
            right: 0;
            height: 45px;
            line-height: 45px;
            background-color: #d8d8d8;
            border: 1px solid #b8b8b8;
            font-size: 14px;
            padding: 0 10px;
        }
    }
}

.sdokr-form-inline {
    display: flex;
    justify-content: stretch;
    width: 100%;

    .sdokr-form-field:not(:last-child) .select2-selection--single {
        border-right: none;
    }
}