.sdokr-form-field {
    margin-bottom: 20px;
    width: 100%;

    label {
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: 600;
    }
}

.sdokr-form-inline {
    display: flex;
    justify-content: stretch;
    width: 100%;

    .sdokr-form-field:not(:last-child) .select2-selection--single {
        border-right: none;
    }
}