.sdokr-form-field {
    margin-bottom: 20px;
    width: 100%;

    label {
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: 600;
    }

    .sdokr-form-control {
        background-color: #fff;
        border: 1px solid #b8b8b8;
        border-radius: 0;
        height: 45px;
        line-height: 45px;
        width: 100%;
        padding: 8px 10px;
    }

    .sdokr-input-group {
        position: relative;

        .sdokr-input-append {
            position: absolute;
            top: 0;
            right: 0;
            height: 45px;
            line-height: 45px;
            background-color: #d8d8d8;
            border: 1px solid #b8b8b8;
            font-size: 14px;
            padding: 0 10px;
        }
    }
}

.sdokr-form-inline {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media only screen and(max-width: 576px) {
        display: block;
    }

    .sdokr-form-field {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}

.sdokr-cb-hide {
    input[type="checkbox"] {
        display: none;
    }

    input:checked~.sdokr-courier-logo {
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.18);
        background-color: #ffffe5;
        border-color: #f9f9dc;
    }
}