.sdokr-form {
    width: 100%;

    &.small {
        .sdokr-form__tab-nav {
            padding: 12px 15px;
            font-size: 14px;
        }

        .sdokr-form__tab-content {
            padding: 15px;
        }

        .sdokr-form-field label {
            font-size: 13px;
        }
    }

    &__tabs {
        display: flex;
        margin-bottom: -1px;
    }

    &__tab {
        background-color: #ececec;
        border: 1px solid #ececec;

        &--active {
            background-color: #ffffff;
            border-bottom: none;
            border-right: 1px solid #d6d6d6;

            .sdokr-form__tab-nav {
                color: #535353;
            }
        }
    }

    &__tab-nav {
        padding: 15px 30px;
        font-weight: 600;
        color: #848484;
        line-height: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        cursor: pointer;
        transition: all .25s ease;

        @media only screen and(max-width: 576px) {
            padding: 12px 14px;
        }

        &:hover {
            color: #535353;
        }

        .text {
            margin-left: 5px;
        }
    }

    &__tab-content {
        background-color: #ffffff;
        padding: 25px;
        border: 1px solid #ececec;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.08);
    }

    &__content {
        display: none;

        &--active {
            display: block;
        }
    }
}